@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: 'NEXTART';
    src: url('fonts/NEXT ART_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url(img/start-background.jpg);
    background-position: center;
}


.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;
    justify-content: end;
    position: relative;
}

.header-lists{
    list-style: none;
    display: flex;
}

.header-item {
    margin-right: 20px;
}

.header-item-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.header-item-link:hover{
    color:#F2BE22;
}

.header-consultation{
    display: flex;
    background-color: #1A3E3E;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    justify-content: center;
    align-items: center;
}

.start-title{
    margin-top: 200px;
    font-size: 50px;    
    font-family: 'NEXTART', sans-serif;
    font-weight: bolder;
    color: #fff;
    padding: 20px;
}

.start-search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.start-label {
    display: block;
    margin-bottom: 20px;
}


.choices {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Nunito Sans", serif;
}


.choices_inner {
    position: relative;
    width: 100%;
}


.start-location, .start-date, .choice-input{
    border: 2px solid #f0f0f0;
    background-color: transparent;
    border-radius: 12px;
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: 900;
    outline: none;
    color: #fff;
    font-family: "Nunito Sans", serif;
}

option{
    font-family: "Nunito Sans", serif;
    color: black;
}

.start-span{
    display: flex;
    justify-content: center;
    font-family: "Nunito Sans", serif;
    color: black;
    font-weight: 600;
}

.start-search-program{
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    position: relative;
    bottom: 20px;
    left: 50px;
    color: #1A3E3E;
    font-family: "Nunito Sans", serif;
    font-size: 20px;
    font-weight: 800;
}

.start-search-program:hover{
    background-color: #1A3E3E;
    color: #f0f0f0;
    border: 2px solid #f0f0f0;
    transition: 0.5s;
}

.btn:hover{
    background-color: #f0f0f0;
    color: #1A3E3E;
    border: 2px solid #1A3E3E;
    transition: 0.5s;
}

.about{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
}

.about-media{grid-area: 1/1/6/3 ;}
.about-content{grid-area: 1/4/6/6;}

.about-media{
    position: relative;
    left: 50px;
}

.ami1, .ami2{
    width: 350px;
    height: 400px;
    position: relative;
    margin: 50px;
    border-radius: 20px;
}

.ami1{
    z-index: 1;
}

.ami2{
    bottom: 350px;
    left: 150px;
    z-index: 2;
}

.about-content{
    position: relative;
    right: 50px;
    margin-top: 50px;
    margin-right: 80px;

}

.about-content h1{
    color: #F2BE22;
    font-family: 'Nunito Sans', serif;
}

.about-content h2{
    font-family: 'Nunito Sans', serif;
    font-size: 30px;
    font-weight: 800;
}

.about-content p{
    font-family: 'Nunito Sans', serif;
    font-size: 18px;
    font-weight: 400;
}

.about-btn{
    width: 180px;
    height: 50px;
    background-color: #1A3E3E;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-family: 'Nunito Sans', serif;
    font-weight: 600;
    font-size: 16px;
}

.offer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
    background-color: #F3F5F4;
}

.offer-content{ grid-area: 1 / 1 / 6 / 3;}
.offer-media{grid-area: 1 / 4 / 6 / 6;}

.offer-media{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
}

.offer-img1{grid-area: 2 / 4 / 3 / 5;}
.offer-img2{grid-area: 2 / 5 / 3 / 6;}
.offer-img3{grid-area: 3 / 4 / 4 / 5;}
.offer-img4{grid-area: 3 / 5 / 4 / 6;}

.offer-media img{
    width: 250px;
    height: 250px;
    padding: 10px;
    position: relative;
    bottom: 120px;
    right: 70px;
}

.offer-content {
    margin: 50px;
}

.offer-content h1 {
    color: #F2BE22;
    font-family: 'Nunito Sans', serif;
}

.offer-content h2 {
    font-family: 'Nunito Sans', serif;
    font-size: 32px;
    font-weight: 800;
}

.offer-content p {
    font-family: 'Nunito Sans', serif;
    font-size: 18px;
    font-weight: 400;
}

.offer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.offer-item {
    display: flex;
    margin-bottom: 20px;
}

.offer-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.offer-text h1 {
    color: black;
    margin: 0;
    font-size: 20px;
    font-family: 'Nunito Sans', serif;
}

.offer-text p {
    margin: 5px 0 0 0;
    font-size: 16px;
    font-family: 'Nunito Sans', serif;
}

.offer-img1 {
    border-radius: 35px 0 35px 0; 
}

.offer-img4 {
    border-radius: 35px 0 35px 0; 
}

.offer-img2 {
    border-radius: 0 35px 0 35px; 
}

.offer-img3 {
    border-radius: 0 35px 0 35px;
}

.offer-btn{
    width: 180px;
    height: 50px;
    background-color: #1A3E3E;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-family: 'Nunito Sans', serif;
    font-weight: 600;
    font-size: 16px;
}

.popular-head h1, h2{
    font-family: 'Nunito Sans', serif;
    text-align: center;
}

.popular-head h1{color: #F2BE22; font-size: 24px;}
.popular-head h2{font-weight: 800; font-size: 32px;}

.popular-head{
    margin: 0;
}

.popular {
    margin-left: 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    max-width: 420px;
}

.popular-content-1,
.popular-content-2,
.popular-content-3 {
    position: relative;
    width: 400px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

}

.popular img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-header {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: 'Nunito Sans', serif;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.popular-content-1:hover .popular-header,
.popular-content-2:hover .popular-header,
.popular-content-3:hover .popular-header {
    opacity: 1;
}

.popular-header h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Nunito Sans', serif;
}

.popular-header h2 {
    margin: 0;
    font-size: 14px;
    color: #f0f0f0;
    font-family: 'Nunito Sans', serif;
}

.popular-header .price {
    font-size: 18px;
    font-weight: bold;
    color: #f0f0f0;
    background-color: rgba(255, 255, 255, 0.);
    margin-top: 10px;
    border-radius: 10px;
}

.popular-header .description {
    font-size: 20px;
    color: #f0f0f0;
    margin: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.popular-header:hover .description {
    opacity: 1;
    transform: translateY(0);
}

.popular-star {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    width: 50px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Nunito Sans', serif;
    color: #1a3e3e;
    background: rgba(253, 253, 253, 0.4);
    backdrop-filter: blur(4px);
}

.popular-star img {
    width: 12px;
    height: 12px;
    margin-right: 3px;
}


.blog-head h1, h2{
    font-family: 'Nunito Sans', serif;
    text-align: center;
}

.blog-head h1{color: #F2BE22; font-size: 24px;}
.blog-head h2{font-weight: 800; font-size: 32px;}


.blog {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    background-color: #F3F5F4;
}

.blog-1 { grid-area: 1 / 1 / 3 / 3; }
.blog-2 { grid-area: 1 / 3 / 3 / 5; }
.blog-3 { grid-area: 3 / 1 / 5 / 3; }
.blog-4 { grid-area: 3 / 3 / 5 / 5; }

.blog-1, .blog-2, .blog-3, .blog-4 {
    display: flex;
    padding: 10px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5 );
    position: relative;
    left: 150px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog img {
    width: 230px;
    height: 280px;
    object-fit: cover;
    margin-right: 15px;
}

.blog .blog-start {
    font-family: 'Nunito Sans', serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.blog h2 {
    font-family: 'Nunito Sans', serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 10px 0;
}

.blog .date {
    font-family: 'Nunito Sans', serif;
    font-weight: 700;
    font-size: 18px;
    color: #F2BE22;
}

.blog .read-state{
    text-decoration: none;
    font-family: 'Nunito Sans', serif;
    font-size: 18px;
    font-weight: 700;
    color: #1a3e3e;
}

.blog .read-state:hover{
    text-decoration: underline;
}

.blog .blog-start:hover{
    color: #1a3e3e;
    text-decoration: underline;
    transition: 0.5s;
}

.popular-btn, .blog-btn, .gallery-btn{
    width: 180px;
    height: 50px;
    background-color: #1A3E3E;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-family: 'Nunito Sans', serif;
    font-weight: 600;
    font-size: 16px;
    margin: 20px;
    
}

.button-container{
    display: flex;
    justify-content: center;
}

.gallery-head h1, h2{
    font-family: 'Nunito Sans', serif;
    text-align: center;
}

.gallery-head h1{color: #F2BE22; font-size: 24px;}
.gallery-head h2{font-weight: 800; font-size: 32px;}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    background-color: #F3F5F4;
    position: relative;
    left: 150px;
}

.img1 { grid-area: 2 / 1 / 3 / 3; }
.img2 { grid-area: 2 / 3 / 3 / 4; }
.img3 { grid-area: 2 / 4 / 3 / 5; }
.img4 { grid-area: 3 / 1 / 4 / 2; }
.img5 { grid-area: 3 / 2 / 4 / 4; }
.img6 { grid-area: 3 / 4 / 4 / 5; }

.gallery img{
    width: 280px;
    height: 250px;
    object-fit: cover;
    border-radius: 5%;
}

.gallery .img1{
    width: 580px;
}

.gallery .img5{
    width: 580px;
}

.newsletter{
    position: relative;
    top: 50px;
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: auto;
    gap: 20px;
    position: relative;
    left: 150px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
}

.actual{grid-area: 3 / 2 / 4 / 3;}
.e-mail{grid-area: 3 / 4 / 4 / 5;}

.actual h1, p{
    font-family: 'Nunito Sans', serif;
    font-weight: 700;
}

.actual h1{
    color: #F2BE22;
}

.e-mail h1, .mail, .email-btn, p{
    font-family: 'Nunito Sans', serif;
    font-size: 18px;
}

.mail{
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

.email-btn{
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: #1A3E3E;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-family: 'Nunito Sans', serif;
    font-weight: 600;
    font-size: 16px;
}


.company  h1, a , p{
    font-family: 'Nunito Sans', serif;
}

.services{
    font-family: 'Nunito Sans', serif;
    margin-left:50px;
}

.important{
    font-family: 'Nunito Sans', serif;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Три равные колонки */
    grid-template-rows: auto;
    background-color: #1A3E3E;
    padding: 50px;
    color: #f0f0f0;
}

.company {
    grid-column: 1 / 2;
}

.services {
    grid-column: 2 / 3;
}

.important {
    grid-column: 3 / 4;
}

.footer img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-down{
    display: flex;
    justify-content: space-between;
    background-color: #18121E;
    color: #f0f0f0;
}

.footer-down a {
    text-decoration: none;
    margin-top: 20px;
    color: white;
}

.header-burger-line{
    height: 5px;
    width: 10px;
}

@media (max-width: 420px) {
    .start-title {
        font-size: 20px;
    }

    .header-item-link {
        font-size: 16px;
    }

    .start-search {
        padding: 30px;
        margin: 20px;
    }

    .start-location, .start-date, .choice-input {
        font-size: 14px;
        padding: 10px 15px;
    }

    .start-search-program {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }

    .about, .offer,.popular,.blog, .gallery{
        grid-template-columns: 1fr;
    }

    .popular, .gallery {
        margin-left: 0;
    }

    .footer {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .footer-down {
        flex-direction: column;
        align-items: center;
    }

    .header-lists{
        display: none;
    }

    .header-consultation{
        display: none;
    }

    .header-burger{
        position: relative;
        right: 35px;
    }

    .start-label{
        display: none;
    }

    .start-search-program{
        position: relative;
        top: 5px;
        left: 10px;
    }

    .about-media{
        display: none;
    }
    
    .about{
        position: relative;
        text-align: center;
        left: 70px;
    }

    .offer{
        position: relative;
        text-align: center;
    }

    .offer-media{
        display: none;
    }

    .popular{
        position: relative;
        left: 7px;
    }

    .blog{
        position: relative;
        right: 145px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        width: 405px
    }

    .gallery{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .gallery img{
        position: relative;
        right: 150px;
        width: 100%;
        object-fit: contain;
        max-width: 100%;
    }
    
    .newsletter {
        position: relative;
        left: 5px;
        top: 0px;
    }

    .footer{
        display: block;
    }

    .services{
        position: relative;
        right: 35px;
    }

    .important{
        display: none;
    }
    
    .footer div{
        font-size: 15px;
    }

    .footer h1, p{
        font-size: 15px;
    }
}